{
    "presets": [
        "@babel/preset-react",
        ["@babel/preset-env", {
            "exclude": [
                "transform-unicode-regex",
                "proposal-unicode-property-regex"
            ]
        }]
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties"
    ]
}
