.panel.equationList {
    display: flex;

    flex-direction: column;

    .equation-item, #add-equation {
        width: 100%;
    }

    #add-equation {
        position: relative;
        background: #555;

        flex-basis: 3rem;
        font-size: 14pt;

        img {
            position: absolute;
            right: 1rem;
            top: 50%;
            height: 1em;

            filter: invert(100%);
            transform: translateY(-50%);
        }
    }

    & > #list {
        flex-basis: 0px;
        flex-grow: 1;
        overflow: auto;
    }

    .equation-item {
        position: relative;
        height: 3rem;

        border-bottom: 1px solid #555;

        .katex-component {
            position: absolute;
            top: 50%;
            margin-left: 1rem;

            transform: translateY(-50%);
        }
    }
}
