.panel.equationList {
    display: flex;

    flex-direction: column;

    .equation-item, #add-equation {
        height: 3rem;
        width: 100%;
    }

    #add-equation {
        position: relative;
        background: #555;

        flex-flow: 1;
        font-size: 14pt;

        img {
            position: absolute;
            right: 1rem;
            top: 50%;
            height: 1em;

            filter: invert(100%);
            transform: translateY(-50%);
        }
    }

    .equation-item {
        border-bottom: 1px solid #555;
    }
}
