.panel.equationList {
    display: flex;

    flex-direction: column;

    .equation-item, #add-equation {
        width: 100%;
    }

    #add-equation {
        position: relative;
        background: #555;

        flex-basis: 3rem;
        font-size: 14pt;

        img {
            position: absolute;
            right: 1rem;
            top: 50%;
            height: 1em;

            filter: invert(100%);
            transform: translateY(-50%);
        }
    }

    & > #list {
        width: 100%;

        flex-basis: 0px;
        flex-grow: 1;
        overflow-y: auto;
    }

    .equation-item {
        position: relative;
        height: 3rem;

        border-bottom: 1px solid #555;
        overflow-x: auto;

        .katex-component {
            position: absolute;
            top: 50%;
            margin-left: 1rem;

            transform: translateY(-50%);
        }
    }

    @keyframes cursor-blink {
        0% {
            opacity: 1;
        }

        5% {
            opacity: 1;
        }

        45% {
            opacity: 1;
        }

        55% {
            opacity: 0;
        }

        95% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    #cursor {
        position: relative;
        top: 50%;
        width: 1.5px;
        height: 50%;
        margin-left: 1rem;
        background: black;

        animation: cursor-blink 1s linear infinite;
        transform: translateY(-50%);
    }
}
