body {
    margin: 0px;
    overflow: hidden;
}

p {
    margin: 0px;
}

.row {
    width: 100vw;
    background: blue;
}

.panel {
    height: 100%;
    background: red;
    display: inline-block;

    border: 3px solid white;
    box-sizing: border-box;
}
