@import url('./panels/Toolbar/index.scss');

body {
    margin: 0px;

    overflow: hidden;
}

p {
    margin: 0px;
}

.app {
    height: 100vh;
    width: 100vw;
}

.app, .rows, .columns {
    display: flex;
}

.rows {
    flex-direction: row;
    flex-basis: 0px;
}

.columns {
    flex-direction: column;
    flex-basis: 0px;
}

.panel {
    flex-basis: 0px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
}

.divider {
    background: black;

    &.horizontal {
        min-height: 3px;

        cursor: ns-resize;
    }

    &.vertical {
        min-width: 3px;

        cursor: ew-resize;
    }

    &:last-child {
        min-width: 0px;
        min-height: 0px;
    }
}

.graph > canvas {
    width: 100%;
    height: 100%;
}
